PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=payment_db
DB_USER=user
DB_PASSWORD=password

JWT_SECRET=secret_payment_123

GOOGLE_CLIENT_ID=TU_CLIENT_ID_DE_GOOGLE
GOOGLE_CLIENT_SECRET=TU_CLIENT_SECRET_DE_GOOGLE
GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/google/callback

STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxx

FRONTEND_URL=http://localhost:5173