.hidden{
    display: none;
}

nav ul{
    display: flex;
    gap: 10px;

    list-style: none;
}

nav button{
    padding: 10px 15px;

    border: none;

    cursor: pointer;
}

section{
    margin-top: 20px;
}